<!doctype html>
<html>
  <head>
    <title>Music notes</title>
  </head>
  <body>
    <h1>Record your melody</h1>
    <p>Press "Record" and sing any song for 10 seconds and it will be converted to a midi.</p>
    <script src={{ url_for('static', filename='recorder.js') }}></script>
    <button id="action" onclick="handleAction()">Record</button>
    <h1>Melodies</h1>
    {% for melody in notes %}
        <h3>Melody №{{ melody.id }}</h3>
        <p>
                 Raw recording | Processed
        </p>
        <p>
            <audio controls src={{ url_for('tmp', filename=melody.raw_filename) }}>
            </audio>


            <audio controls src={{ url_for('tmp', filename=melody.proc_filename) }}>
            </audio>


            <a href={{ url_for('tmp', filename=melody.midi_filename) }} download>download midi</a>
        </p>
    {% endfor %}
  </body>
</html>